<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Suma</title>
    </head>

    <body>
        <h1>Suma</h1>

        <form action="" method="post" name="formSuma">
            <label for="n1">Número 1</label>
            <input type="text" name="n1" id="n1">
            <br>
            <label for="n2">Número 2</label>
            <input type="text" name="n2" id="n2">
            <br>
            <input type="submit" value="Sumar">
        </form>
        <br>
        <strong>Resultado:</strong>
        <input type="text" name="resultado" id="resultado" value="{{ resultado }}">
    </body>

</html>